
p {
	color: yellow;
}

*{
	font-family: "Verdana"; monospace

}

h1{
	font-size: 60px;
}

h2{
	text-transform: uppercase;
}

.tobeLearned {
	background-color: lightgreen;
}

li[style]{
	border-width: 1px;
	border-style: solid;
	border-color: steelblue;
}

#picture + #other{
	list-style-type: none;
}


body img {
	border-radius: 75%;
	height:120px;
	width: 120px;
}

ul ~ p{
	text-align: center;
}

ul > li{
	letter-spacing: 10px;
}


